body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  background: #000;
}

a.list {
  background: none;
  color: #ff0d0e;
  text-decoration: underline;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
